/node_modules
/public/hot
/public/storage
/public/dist
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.sql
*.dump
